<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <p>blackjack</p>
    <form method="POST" action="/blackjack">
        <button name="action" value="hit">Hit</button>
    </form>
    <form method="POST" action="/blackjack">
        <button name="action" value="stand">Stand</button>
    </form>
        <!-- <form action=""></form> -->
</body>
</html>