<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Games!</title>
</head>
    <button onclick="window.location.href='/blackjack'">blackjack</button>
    <button onclick="window.location.href='/war'">war</button>

</body>
</html>